<!DOCTYPE html>
<html>
    <head>
         <title>Error</title>
<link rel="stylesheet" href="/web-server/public/css/style.css">
    </head>
    <body>
        <div class="main-content">
      {{>header}}
        <h1>{{error}}</h1>
        </div>
  
             {{>footer}}
    </body>
</html>